{% doc %}
  Union Bay Men mega menu — Categories / Tops / Bottoms columns.
  Links use /collections/men-{item} handles.
{% enddoc %}

<div class="unionbay-mega-menu__layout unionbay-mega-menu__layout--equal-cols flex flex-1025-row">
  <ul class="unionbay-mega-menu__columns subchildmenu list-unstyled grid grid-cols gap" style="--col-desktop: 3; --row-gap: 2.5rem;">
    <li class="menu-link level-1 unionbay-mega-menu__column">
      <span class="unionbay-mega-menu__column-heading">Categories</span>
      <ul class="unionbay-mega-menu__column-links list-unstyled">
        <li class="menu-link level-2"><a href="/collections/men-new-arrivals" class="unionbay-mega-menu__column-link menu_item-link no-underline">New Arrivals</a></li>
        <li class="menu-link level-2"><a href="/collections/men-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/men-bottoms" class="unionbay-mega-menu__column-link menu_item-link no-underline">Bottoms</a></li>
        <li class="menu-link level-2"><a href="/collections/men-graphics-shop" class="unionbay-mega-menu__column-link menu_item-link no-underline">Graphics Shop</a></li>
        <li class="menu-link level-2"><a href="/collections/men-sweatshirts-sweatpants" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sweatshirts &amp; Sweatpants</a></li>
        <li class="menu-link level-2"><a href="/collections/men-swimwear" class="unionbay-mega-menu__column-link menu_item-link no-underline">Swimwear</a></li>
        <li class="menu-link level-2"><a href="/collections/men-sleepwear" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sleepwear</a></li>
        <li class="menu-link level-2"><a href="/collections/men-jackets-coats" class="unionbay-mega-menu__column-link menu_item-link no-underline">Jackets &amp; Coats</a></li>
        <li class="menu-link level-2"><a href="/collections/men-underwear-socks" class="unionbay-mega-menu__column-link menu_item-link no-underline">Underwear &amp; Socks</a></li>
        <li class="menu-link level-2"><a href="/collections/men-accessories-shoes" class="unionbay-mega-menu__column-link menu_item-link no-underline">Accessories &amp; Shoes</a></li>
        <li class="menu-link level-2"><a href="/collections/men-cologne" class="unionbay-mega-menu__column-link menu_item-link no-underline">Cologne</a></li>
        <li class="menu-link level-2"><a href="/collections/men-clearance" class="unionbay-mega-menu__column-link menu_item-link no-underline unionbay-mega-menu__link--sale">Clearance</a></li>
      </ul>
    </li>

    <li class="menu-link level-1 unionbay-mega-menu__column">
      <span class="unionbay-mega-menu__column-heading">Tops</span>
      <ul class="unionbay-mega-menu__column-links list-unstyled">
        <li class="menu-link level-2"><a href="/collections/men-t-shirts" class="unionbay-mega-menu__column-link menu_item-link no-underline">T-Shirts</a></li>
        <li class="menu-link level-2"><a href="/collections/men-graphic-tees" class="unionbay-mega-menu__column-link menu_item-link no-underline">Graphic Tees</a></li>
        <li class="menu-link level-2"><a href="/collections/men-hoodies-sweatshirts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Hoodies &amp; Sweatshirts</a></li>
        <li class="menu-link level-2"><a href="/collections/men-polos" class="unionbay-mega-menu__column-link menu_item-link no-underline">Polos</a></li>
        <li class="menu-link level-2"><a href="/collections/men-button-front-shirts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Button Front Shirts</a></li>
        <li class="menu-link level-2"><a href="/collections/men-sweaters" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sweaters</a></li>
        <li class="menu-link level-2"><a href="/collections/men-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">All Tops</a></li>
      </ul>
    </li>

    <li class="menu-link level-1 unionbay-mega-menu__column">
      <span class="unionbay-mega-menu__column-heading">Bottoms</span>
      <ul class="unionbay-mega-menu__column-links list-unstyled">
        <li class="menu-link level-2"><a href="/collections/men-jeans" class="unionbay-mega-menu__column-link menu_item-link no-underline">Jeans</a></li>
        <li class="menu-link level-2"><a href="/collections/men-shorts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Shorts</a></li>
        <li class="menu-link level-2"><a href="/collections/men-sweatpants" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sweatpants</a></li>
        <li class="menu-link level-2"><a href="/collections/men-pants" class="unionbay-mega-menu__column-link menu_item-link no-underline">Pants</a></li>
        <li class="menu-link level-2"><a href="/collections/men-baggy-bottoms" class="unionbay-mega-menu__column-link menu_item-link no-underline">Baggy Bottoms</a></li>
        <li class="menu-link level-2"><a href="/collections/men-bottoms" class="unionbay-mega-menu__column-link menu_item-link no-underline">All Bottoms</a></li>
      </ul>
    </li>
  </ul>
</div>
