{% doc %}
  Union Bay Women mega menu — Categories / Tops / Bottoms columns.
  Links use /collections/women-{item} handles.
{% enddoc %}

<div class="unionbay-mega-menu__layout unionbay-mega-menu__layout--equal-cols flex flex-1025-row">
  <ul class="unionbay-mega-menu__columns subchildmenu list-unstyled grid grid-cols gap" style="--col-desktop: 3; --row-gap: 2.5rem;">
    <li class="menu-link level-1 unionbay-mega-menu__column">
      <span class="unionbay-mega-menu__column-heading">Categories</span>
      <ul class="unionbay-mega-menu__column-links list-unstyled">
        <li class="menu-link level-2"><a href="/collections/women-new-arrivals" class="unionbay-mega-menu__column-link menu_item-link no-underline">New Arrivals</a></li>
        <li class="menu-link level-2"><a href="/collections/women-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-bottoms" class="unionbay-mega-menu__column-link menu_item-link no-underline">Bottoms</a></li>
        <li class="menu-link level-2"><a href="/collections/women-sweatshirts-sweatpants" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sweatshirts &amp; Sweatpants</a></li>
        <li class="menu-link level-2"><a href="/collections/women-jackets-coats" class="unionbay-mega-menu__column-link menu_item-link no-underline">Jackets &amp; Coats</a></li>
      </ul>
    </li>

    <li class="menu-link level-1 unionbay-mega-menu__column">
      <span class="unionbay-mega-menu__column-heading">Tops</span>
      <ul class="unionbay-mega-menu__column-links list-unstyled">
        <li class="menu-link level-2"><a href="/collections/women-camis-tank-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Camis &amp; Tank Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-t-shirts" class="unionbay-mega-menu__column-link menu_item-link no-underline">T-Shirts</a></li>
        <li class="menu-link level-2"><a href="/collections/women-button-front-shirts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Button Front Shirts</a></li>
        <li class="menu-link level-2"><a href="/collections/women-hoodies-sweatshirts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Hoodies &amp; Sweatshirts</a></li>
        <li class="menu-link level-2"><a href="/collections/women-babydoll-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Babydoll Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-tube-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Tube Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-short-sleeve-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Short-Sleeve Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-long-sleeve-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Long-Sleeve Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-sweaters-cardigans" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sweaters &amp; Cardigans</a></li>
        <li class="menu-link level-2"><a href="/collections/women-thermals" class="unionbay-mega-menu__column-link menu_item-link no-underline">Thermals</a></li>
        <li class="menu-link level-2"><a href="/collections/women-roll-necks" class="unionbay-mega-menu__column-link menu_item-link no-underline">Roll Necks</a></li>
        <li class="menu-link level-2"><a href="/collections/women-polos" class="unionbay-mega-menu__column-link menu_item-link no-underline">Polos</a></li>
        <li class="menu-link level-2"><a href="/collections/women-terry-fleece-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">Terry Fleece Tops</a></li>
        <li class="menu-link level-2"><a href="/collections/women-tops" class="unionbay-mega-menu__column-link menu_item-link no-underline">All Tops</a></li>
      </ul>
    </li>

    <li class="menu-link level-1 unionbay-mega-menu__column">
      <span class="unionbay-mega-menu__column-heading">Bottoms</span>
      <ul class="unionbay-mega-menu__column-links list-unstyled">
        <li class="menu-link level-2"><a href="/collections/women-jeans" class="unionbay-mega-menu__column-link menu_item-link no-underline">Jeans</a></li>
        <li class="menu-link level-2"><a href="/collections/women-shorts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Shorts</a></li>
        <li class="menu-link level-2"><a href="/collections/women-skirts-skorts" class="unionbay-mega-menu__column-link menu_item-link no-underline">Skirts &amp; Skorts</a></li>
        <li class="menu-link level-2"><a href="/collections/women-sweatpants" class="unionbay-mega-menu__column-link menu_item-link no-underline">Sweatpants</a></li>
        <li class="menu-link level-2"><a href="/collections/women-pants" class="unionbay-mega-menu__column-link menu_item-link no-underline">Pants</a></li>
        <li class="menu-link level-2"><a href="/collections/women-leggings-flares" class="unionbay-mega-menu__column-link menu_item-link no-underline">Leggings &amp; Flares</a></li>
        <li class="menu-link level-2"><a href="/collections/women-bottoms" class="unionbay-mega-menu__column-link menu_item-link no-underline">All Bottoms</a></li>
      </ul>
    </li>
  </ul>
</div>
