{% doc %}
  Union Bay Sale mega menu panel content.
{% enddoc %}

<div class="unionbay-mega-menu__layout flex flex-1025-row unionbay-mega-menu__layout--sidebar-only">
  <ul class="unionbay-mega-menu__sidebar list-unstyled">
    <li class="unionbay-mega-menu__sidebar-item"><a href="/collections/best-seller" class="unionbay-mega-menu__sidebar-link no-underline unionbay-mega-menu__link--sale"><span>View all</span></a></li>
    <li class="unionbay-mega-menu__sidebar-item"><a href="/collections/dress" class="unionbay-mega-menu__sidebar-link no-underline unionbay-mega-menu__link--sale"><span>Women's sale</span></a></li>
    <li class="unionbay-mega-menu__sidebar-item"><a href="/collections/t-shirts" class="unionbay-mega-menu__sidebar-link no-underline unionbay-mega-menu__link--sale"><span>Men's sale</span></a></li>
  </ul>
  <ul class="unionbay-mega-menu__columns subchildmenu list-unstyled"></ul>
</div>
